/*
Original @ https://github.com/theonion/videojs-vast-plugin (commit bf6ce85fa763299739f6a7c801b5be4b90b3b363)
*/

.vast-skip-button {
  display: block;
  position: absolute;
  bottom: 3rem;
  right: 0;
  width: auto;
  background-color: rgba(38, 38, 38, 0.9);
  color: #aaa;
  font-size: 1rem;
  font-style: italic;
  line-height: 1rem;
  padding: 1rem;
  z-index: 2;
}

.vast-click-button {
  display: block;
  position: absolute;
  bottom: 3rem;
  left: 0;
  width: auto;
  background-color: rgba(38, 38, 38, 0.9);
  color: #aaa;
  font-size: 1rem;
  font-style: italic;
  line-height: 1rem;
  padding: 1rem;
  z-index: 2;
}

.vast-skip-button.enabled {
  cursor: pointer;
  color: #fff;
}

.vast-skip-button.enabled:hover {
  cursor: pointer;
  background: rgb(38, 38, 38);
}

.vast-blocker {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
